/* Основной стиль для страницы */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; /* Светлый фон */
  color: #333; /* Темный текст для лучшей читаемости */
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

/* Контейнер для списка заметок */
.notes-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Сетка из 3-х столбцов */
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

/* Стиль для карточки заметки */
.note {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s;
}

.note:hover {
  transform: translateY(-5px);
}

/* Стиль для модального окна */
.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #f4f4f4;
  color: #333;
  padding: 30px;
  border-radius: 10px;
  width: 500px;
  max-width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: red;
  border: none;
  color: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
}

/* Стиль для кнопок */
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-btn {
  background-color: #fff;
  border: none;
  padding: 10px 20px;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.save-btn:hover {
  background-color: #009900;
  color: #fff;
}

.delete-btn {
  background-color:#fff;
  border: none;
  padding: 10px 20px;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.delete-btn:hover {
  background-color: #cc0000;
  color: #fff;
}

.no-notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
}

.no-notes p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 15px;
}

.create-note-btn {
  position: fixed; /* Фиксированное позиционирование */
  top: 20px; /* Отступ от верхнего края */
  left: 20px; /* Отступ от правого края */
  background-color: green; /* Зеленый фон */
  color: white; /* Белый текст */
  border: none; /* Без границы */
  padding: 10px 20px; /* Отступы внутри кнопки */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Курсор при наведении */
  border-radius: 5px; /* Скругленные углы */
  transition: background-color 0.3s; /* Плавный переход фона */
}

.create-note-btn:hover {
  background-color: #006400; /* Тёмно-зеленый при наведении */
}

.logout-btn {
  position: fixed; /* Фиксированное позиционирование */
  top: 20px; /* Отступ от верхнего края */
  right: 20px; /* Отступ от правого края */
  background-color: #FF4D4D; /* Красный цвет фона */
  color: white; /* Белый текст */
  border: none; /* Без рамки */
  border-radius: 5px; /* Скругленные углы */
  padding: 10px 20px; /* Отступы вокруг текста */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Указатель руки при наведении */
  transition: background-color 0.3s, transform 0.2s; /* Плавное изменение фона и эффекта при наведении */
}

.logout-btn:hover {
  background-color: #FF1A1A; /* Тёмно-красный при наведении */
  transform: scale(1.05); /* Увеличение кнопки при наведении */
}

.logout-btn:active {
  background-color: #E60000; /* Еще более темный цвет при клике */
  transform: scale(0.98); /* Сжатие кнопки при нажатии */
}